# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Builds
.build/
dist/
build/

# Logs & env
*.log
.env*

# IDE/Editor
.vscode/
.idea/

# Runtime artifacts (do not commit)
.api_base_url
.api_id
.role_arn